<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
	<title>Gonstagram</title>
	<link rel="stylesheet" href="{% static './css/style.css' %}">
	<link rel="stylesheet" href="{% static './css/reset.css' %}">
        <link rel="icon" href="{% static './imgs/favicon.ico' %}">
</head>
<body>
<section id="container">
	<header id="header">
		<section class="inner">
			<h1 class="logo">
				<a href="index.html">
					<div class="sprite_insta_icon"></div>
					<div class="sprite_write_logo"></div>
				</a>
			</h1>
			<div class="search_box">
				<input type="text" id="search-field" placeholder="검색">
				<div class="fake_field">
					<span class="sprite_small_search_icon"></span>
					<span>검색</span>
				</div>
			</div>

			<div class="right_icons">
				<div class="sprite_camera_icon"></div>
				<div class="sprite_compass_icon"></div>
				<div class="sprite_heart_icon_outline"></div>
				<div class="sprite_user_icon_outline"></div>
			</div>
		</section>
	</header>
</section>
</body>
</html>
